<section class="container">
    <br>
    <h1>All clients</h1>  
    {{#if sessionFlash.message}}
        <div class="alert alert-dismissible alert-success" role="alert">
            {{sessionFlash.message}}
        </div> 
    {{/if}}  
 
    <div class="col-12">
        <table class="table table-hover table-bordered">
            <thead>
                <th>S/N</th>
                <th>Username</th>
                <th>Email</th>
                <th>action</th>
            </thead>
            <tbody>
                {{#each users}}  
                <tr>
                    <td> {{inc @key}}</td>
                    <td>{{this.name}}</td>
                    <td>{{this.email}}</td>
                    <td>
                        <div class="form-group"> 
                            <form action="/user" method="post">
                                <button type="submit" class="btn btn-danger btn-sm" >delete</submit>
                                <input type="hidden" name="user_id" value="{{id}}">
                            </form>
                        </div>
                    </td>
                </tr>
                {{else}}
                <p>No data available</p>
                {{/each}} 

            </tbody>
        </table>
    </div> 
        
</section>